.map__wrapper {
  height: 500px;
  width: 100%;
  margin: 1rem 0;
  overflow: hidden;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map {
  height: 500px;
  width: 100%;
}

.driverMarker {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border: 2px solid #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.driverMarker img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.title {
  font-size: 1em;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}

.green {
  color: green;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  background-color: #b1ffce;
}

.red {
  color: red;
  padding: 0.5rem 1rem;
  border-radius: 10rem;
  background-color: #ffbbbb;
}

.gray {
  color: #9e9e9e;
}
